.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;400&family=Roboto:wght@300;400;500;700;900&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
}

#principal{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(32, 32, 32);
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#principal form{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 220px;
    max-width: 470px;
}

#principal form .campo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#principal form .campo input{
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    border: 0;
}

#principal .acoes{
    display: flex;
    justify-content: center;
}

#principal button, #principal div#bttVerProdutos{
    border: 0;
    margin: 25px 10px 0 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#principal button#bttComprar{
    background-color: rgb(46, 155, 37);
    cursor: pointer;
    transition: 0.5s;
}

#principal button#bttComprar:hover{
    transition: 0.5s;
    background-color: rgb(68, 196, 57);
}

#principal div#bttVerProdutos{
    background-color: rgb(26, 75, 238);
    cursor: pointer;
    transition: 0.5s;
}

#principal div#bttVerProdutos:hover{
    transition: 0.5s;
    background-color: rgb(52, 97, 245);
}

#principalVerProdutos{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.abrirTela{
    animation: normal abrirTela 2s;
}

.fecharTela{
    animation: normal fecharTela 2s;
}

@keyframes abrirTela{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }

}

@keyframes fecharTela{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }

}

#principalVerProdutos #conteudoProdutos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.726);
    overflow-y: auto;
}

#principalVerProdutos #cartoesProdutos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principalVerProdutos #conteudoProdutos .produto{
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: fit-content;
    background: linear-gradient(0deg, rgba(96,96,96,1) 0%, rgba(161,161,161,1) 51%, rgba(91,91,91,1) 100%);
    padding: 15px;
    margin: 10px 0;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}

#principalVerProdutos #conteudoProdutos .produto:hover{
    transition: 0.5s;
    background: linear-gradient(0deg, rgba(153,153,153,1) 0%, rgba(200,200,200,1) 50%, rgba(152,152,152,1) 100%);
}

#principalVerProdutos #conteudoProdutos .produto .posicaoProduto{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#principalVerProdutos #conteudoProdutos .produto .dadosProduto{
    flex: 1;
    padding-left: 20px;
}

#principalVerProdutos #fecharProdutos{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(221, 32, 32);
    transition: 0.5s;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#principalVerProdutos #fecharProdutos:hover{
    transition: 0.5s;
    background-color: rgb(247, 66, 66);
}

#principal form .campo label{
  text-align: left;
}